/* GLOBAL RULES */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  height: 100vh;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.login-heading {
  font-size: 3em;
  padding-top: 1em;
}

.login-container {
  background-color: #ffffff;
  align-items: center;
  width: 30em;
  height: 10em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-top: 2em;
  margin-top: 4em;
}

.login-button {
  font-family: 'Quicksand', sans-serif;
  padding: 5px 23px;
  margin: 3.5em 0 0 27em;
}

/* MAIN PAGE */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3em;
  color: #ffffff;
}

.intro {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0;
}

.form-container {
  margin-top: 4em;
}

h2 { 
  color: #ffffff;
  margin: 0 0 .2em 5.2em;
}

form {
  background-color: #ffffff;
  align-items: center;
  width: 33em;
  height: 7em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.radio-container {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  padding-top: 1.5em;
  width: 100%;
}

.receive-button {
  margin-top: 1em;
}

/* MESSAGE BOX */
button {
  font-family: 'Quicksand', sans-serif;
  background-color: #134d71;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: .5em 2em;
}

.msg-box {
  background-color: #ffffff;
  padding-top: 1em;
  width: 48em;
  height: 9em;
  margin-top: 5em;
  border-radius: 5px;
}

.msg-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  max-width: 70px;
  padding-top: 2em;
}

.message-display {
  margin-top: 5%;
}

/* CYO FORM */
.add-msg-form {
  margin-top: 1em;
  width: 100%
}

.user-msg {
  width: 290px;
}

.type-container {
  height: 3.5em;
  margin-right: 9em;
}

.error-type,
.error-msg, 
.error-radio-type {
  color:red;
  font-size: .9em;
  margin: 0 0;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  width: 14.5em;
  margin: 1em 0 0 34em;
}

.button-form {
  margin-left: 10px;
}

.submit {
  margin-left: 10em;
}

.visibility-hidden {
  display: none;
}