/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* * {
  border: 1px solid red
} */

/* GLOBAL RULES */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  height: 100vh;
}

/* FORM */
h1,
h2 { 
  color: #ffffff;
}
h2 {
  margin-left: 24%;
  margin-bottom: 1%;
}

.form-container {
  margin-top: 3%;
}

form {
  background-color: #ffffff;
  align-items: center;
  width: 33em;
  height: 7em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.radio-container {
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* MESSAGE BOX */

button {
  background-color: #134d71;
  color: #ffffff;
  margin-top: 5%;
  border-radius: 5px;
  border: none;
  padding: 1.3% 7%;
}

.msg-box {
  background-color: #ffffff;
  padding-top: 1em;
  width: 48em;
  height: 8em;
  margin: 5em;
  border-radius: 5px;
  display: flex;
}

.icon {
  max-width: 70px;
  margin-left: 45%;
}

.message {
  align-items: center;
  margin-top: 5%;
  margin-left: 20%;
}

/* FORM */
.add-msg-form {
  display: flex;
  align-items: flex-start;
  margin-left: 15%;
}

.user-msg {
  width: 290px;
}

/* GLOBAL RULES */
.visibility-hidden {
  display: none;
}